.pokemon-choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: var(--po-pokemon-choices-column-gap, 16px);

  max-width: var(--po-pokemon-choices-max-width, 560px);
  margin: 0 auto;
  height: var(--po-pokemon-choices-height, 10vh);
  max-height: var(--po-pokemon-choices-max-height, 56px);
}

.pokemon-choices--has-selection .button {
  opacity: var(--po-pokemon-choices-selection-button-opacity, 0.2);
}
